/.idea/
/ala-sensitive-data-client/target/
/ala-sensitive-data-core/target/
/ala-sensitive-data-server/target/
/ala-sensitive-data-tools/target/
/ala-sensitive-data-service.iml
/ala-sensitive-data-server/ala-sensitive-data-server.iml
/ala-sensitive-data-core/ala-sensitive-data-core.iml
/ala-sensitive-data-client/ala-sensitive-data-client.iml
*/*.debhelper
*/*.debhelper.log
*.buildinfo
*.substvars
debian/files
debian/ala-sensitive-data-service
ala-sds-static-home/sensitive-species-data.xml
env.txt