#!/bin/sh
# https://www.debian.org/doc/manuals/dbconfig-common/ch-develguide.html
#
# config maintainer script for ala-sensitive-data-service

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common shell library, and call the hook function

db_input high ala-sensitive-data-service/sds-url || true
db_go

db_input high ala-sensitive-data-service/layers-url || true
db_go
